<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gundom.DAO.SysUserDao">

    <resultMap id="sysUserMap"
               type="com.gundom.VO.SysUserDeptVo">
        <!-- 关联查询 many2one OR one2one
        在当前应用中,是基于deptId查询部门信息并将其存入到sysDept属性
        -->
        <association property="sysDept"
                     column="deptId"
                     select="com.gundom.DAO.SysDeptDao.findById">
        </association>
    </resultMap>

    <sql id="queryWhereId">
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>

    <select id="findPageObjects" resultMap="sysUserMap">
        select * from sys_users
        <include refid="queryWhereId"/>
        limit #{startIndex},#{pageSize}


    </select>
    <select id="getRowCount"
            resultType="int">
        select count(*) from sys_users
        <include refid="queryWhereId"/>
    </select>

    <update id="validById">

       update sys_users
       set valid=#{valid},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
       where id=#{id}

   </update>

    <insert id="insertObject"
            parameterType="com.gundom.Entity.SysUser"
            useGeneratedKeys="true"
            keyProperty="id">
      insert into sys_users
      (username,password,deptId,email,mobile,salt,valid,
      createdTime,modifiedTime,createdUser,modifiedUser)
      values
    (#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
      now(),now(),#{createdUser},#{modifiedUser})
   </insert>

    <select id="findObjectById"
            parameterType="int"
            resultMap="sysUserMap">
           select *
           from sys_users
           where id=#{id}
   </select>

    <update id="updateObject" parameterType="com.gundom.Entity.SysUser">
        update sys_users
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="mobile!=null and mobile!=''">
                mobile=#{mobile},
            </if>
            <if test="deptId!=null and deptId!=''">
                deptId=#{deptId},
            </if>

            <if test="modifiedUser!=null and modifiedUser!=''">
                modifiedUser=#{modifiedUser},
            </if>
            modifiedTime=now()
        </set>
        where id=#{id}
    </update>

    <update id="updatePassword">
        update sys_users
        set password=#{password},
        salt=#{salt},
        modifiedTime=now()
        where id=#{id}
    </update>

</mapper>